.adminLocationDash {
  padding: 20px 12px;
}

.adminLocationDash-desc-table {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.adminLocationDash-button {
  margin: 10px 0;
}

.adminLocationDash-desc-table table tr {
  padding-top: 10px 0;
}

.adminLocationDash-desc-table > table > tr:nth-child(odd) {
  background-color: var(--md-sys-color-primary-container-light);
}


