.primary-button {
  color: var(--md-sys-color-on-primary-light) !important;
  background-color: var(--md-sys-color-on-primary-container-light);
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: var(--md-sys-color-primary-fixed-dim-light);
  color: var(--md-sys-color-on-primary-container-light) !important;
}

.primary-button:disabled {
  background-color: var(--md-sys-color-primary-light);
  color: var(--md-sys-color-on-primary-light) !important;
  cursor: not-allowed;
}